<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.carsonmclean.camclean_reflex" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".UI.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.ReactionTimerActivity"
            android:label="@string/title_activity_reaction_timer" >
        </activity>
        <activity
            android:name=".UI.TwoPlayerActivity"
            android:label="@string/title_activity_two_player"
            android:parentActivityName=".UI.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.carsonmclean.camclean_reflex.UI.MainActivity" />
        </activity>
        <activity
            android:name=".UI.ThreePlayerActivity"
            android:label="@string/title_activity_three_player"
            android:parentActivityName=".UI.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.carsonmclean.camclean_reflex.UI.MainActivity" />
        </activity>
        <activity
            android:name=".UI.FourPlayerActivity"
            android:label="@string/title_activity_four_player"
            android:parentActivityName=".UI.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.carsonmclean.camclean_reflex.UI.MainActivity" />
        </activity>
        <activity
            android:name=".UI.StatisticsActivity"
            android:label="@string/title_activity_statistics"
            android:parentActivityName=".UI.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.carsonmclean.camclean_reflex.UI.MainActivity" />
        </activity>
    </application>

</manifest>
